{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="text-center">
      <h1 class="text-center display-3">{{.Title | markdownify}}</h1>
 
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="row col-lg-8 mx-auto">
      <form action="{{ .Site.Params.contact_form_action }}" method="POST" class="row">
        <div class="form-group col-md-6">
          <input type="text" name="first-name" id="first-name" class="form-control" placeholder="Vezetéknév">
        </div>
        <div class="form-group col-md-6">
          <input type="text" name="last-name" id="last-name" class="form-control" placeholder="Keresztnév">
        </div>
        <div class="form-group col-md-6">
          <input type="email" name="email" id="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <input type="text" name="subject" id="subject" class="form-control" placeholder="Tárgy">
        </div>
        <div class="form-group col-12">
          <textarea name="message" id="message" class="form-control" placeholder="Üzenjen nekünk ..."></textarea>
        </div>
        <div class="col-12 text-center">
          <button class="btn btn-primary" type="submit">Send now</button>
        </div>
      </form>
    </div>
  <div class="text-center">
  <br/>
      Stílus Kontroll Kft.<br/>
      2800 Tatabánya Táncsics Mihály út 27.
      <br/><br/>
      Ügyvezető: Cseh László<br/>
Telefonszám: +36 20 953 0560<br/>
Email: laszlo.cseh.aps”kukac”gmail.com <br/>
Adószám:<br/>
EU adószám:<br/>
Cégbejegyzés szám:<br/>
    </div>
  </div>
</section>

{{ end }}